

    body {
        background-color: #00bfff;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
img{
    width: 20%;
    height: 50%;
    padding: a
    list-style-type: none;
    margin: 0;
}

.item {
    float: left;
}

.item a {
    display: block;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
   